html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("froggie\ gal\ real.png");
  background-size: cover, auto;
  background-position: center; 
  background-repeat: no-repeat;
  font-size: 24px;
  font-family: 'Arial Black', Gadget, sans-serif;
  margin: 0;
  padding: 0;
}

p, ul, a {
  font-size: 24px;
}

h1 {
  font-size: 48px;
  line-height: 0.1;
  padding-top: 10px;
  padding-bottom: 0px;
}

.overlay {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.55);
  background-blend-mode: overlay;
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 10px;
  width: 100vw;
  box-shadow: 0 10px 15px rgba(25, 52, 27, 0.3), 0 -10px 15px rgba(25, 52, 27, 0.3);
}

.center {
  display: flex;
  align-items: center; /* Vertically centers the child */
  justify-content: center; /* Horizontally centers the child */
  height: 100vh; /* Full viewport height */
  position: relative;
  flex-direction: column;
}

.socials {
  text-align: center;
}

.socials img {
  display: inline-block;
  width: 5%;
  max-width: 100%; /* Ensures images don't overflow */
  height: auto; /* Maintains aspect ratio */
  margin-right: 10px; /* Optional: Adds space between images */
}

.socials a {
  text-decoration: none;
}

.silly {
  font-size: 10px;
}