html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("froggie\ gal\ real.png");
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  background-color: #8589A3;
  font-size: 24px;
  font-family: 'Arial Black', Gadget, sans-serif;
}

p, ul, a {
  font-size: 24px;
}

h1 {
  font-size: 48px;
  line-height: 0.1;
  padding-top: 10px;
  padding-bottom: 0px;
}

.overlay {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: overlay;
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 10px;
  width: 100vw;
  box-shadow: 10px 10px 15px rgba(25, 52, 27, 0.3), -10px -10px 15px rgba(25, 52, 27, 0.3);
}

.center {
  display: flex;
  align-items: center; 
  justify-content: center; 
  height: 100vh; 
  position: relative;
  flex-direction: column;
}

.socials {
  text-align: center;
}

.socials img {
  display: inline-block;
  width: 5%;
  max-width: 100%; 
  height: auto; 
  margin-right: 10px;
}

.socials a {
  text-decoration: none;
}

.silly {
  font-size: 10px;
}